@model Bigschool_TH_11.Models.ChuyenNganh

@{
    ViewBag.Title = "Chỉnh sửa Chuyên Ngành";
    ViewBag.ActiveMenu = "ChuyenNganh";
    ViewBag.ActiveSub = "EditChuyenNganh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h4>ChuyenNganh</h4>
        </div>
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaChuyenNganh)

            <div class="form-group">
                @Html.LabelFor(model => model.TenChuyenNganh, htmlAttributes: new { @class = "col-form-label" })
                @Html.EditorFor(model => model.TenChuyenNganh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenChuyenNganh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}