@model Bigschool_TH_11.ViewModels.QuyenTruyCapEditViewModel
@{
    ViewBag.Title = "Edit Quyen Truy Cap";
    ViewBag.ActiveMenu = "QuyenTruyCap";
    ViewBag.ActiveSub = "EditQuyenTruyCap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Quyen Truy Cap</h2>

@using (Html.BeginForm("Save", "QuyenTruyCap"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.QuyenTruyCap.MaQuyen)

    <div class="form-group">
        @Html.LabelFor(m => m.QuyenTruyCap.TenQuyen, "Ten Quyen Truy Cap")
        @Html.EditorFor(m => m.QuyenTruyCap.TenQuyen, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.QuyenTruyCap.TenQuyen, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", "QuyenTruyCap", null, new { @class = "btn btn-secondary" })
}